@font-face {
  font-family: jules;
  src: url(/fonts/Quicksand-Regular.ttf);
}
.upcase {
  text-transform: uppercase;
}
body {
  font-family: jules !important;
}
.titulo {
  font-size: 80px;
}
.menu_logo {
  margin-top: 10px;
  margin-bottom: 20px;
}
.menu_btns {
  width: 20%;
  &:hover {
    opacity: 0.8;
  }
}
.leyenda {
  font-family: jules;
  float:right;
  color: #00963f;
  font-size: 20px;
  font-weight: 600;
}
.logo {
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
hr.linea {
  border: 4px solid #00963f;
}
hr.linea_subtitulos {
  border: 1px solid #00963f;
  margin-bottom: 40px;
}
h2 {
  margin-top: 60px;
}
hr.frame {
  display: none;
}
.upload-indicador{
  font-size: large;
}
.cinta {
  width: 100%;
}
