html(ng-app='Lm')
  head
    title Last Mile 
    //- inject:css
    link(rel="stylesheet", href="/styles/app.css")
    //- endinject
    //- bower:css
    link(rel="stylesheet", href="/vendor/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/vendor/bootstrap.min.css")
    //- endinject
  body
    //- bower:js
    script(src="/vendor/angular.js")
    script(src="/vendor/jquery.js")
    script(src="/vendor/angular-route.js")
    //- endinject
    
    // Manualy added
    script(src="/vendor/bootstrap.min.js")
    
    //- inject:js
    script(src="/main.js")
    script(src="/controllers/fertilizadoras.js")
    script(src="/controllers/fertilizadoras_reporte.js")
    script(src="/directives/detalle.js")
    script(src="/directives/upload.js")
    script(src="/routes/general.js")
    script(src="/services/upload.js")
    //- endinject
    
    ng-view
