table(class='detalle table-bordered' ng-repeat='maquina in compras' style="width:100%")
  tr
    th(colspan=6 class='text-center')
      h4 {{maquina.maquina}}
  tr
    th(style="width:7%")   Fecha
    th(style="width:5%")   Comprobante
    th(style="width:15%")  Prov.
    th(style="width:30%")  Insumo
    th(style="width:5%")   Importe 
    th(style="width:35%")  Desc.
  tbody(ng-class-odd="'tr_odd'" ng-repeat='item in maquina.detalle')
    tr  
      td(rowspan='{{item.insumos.length}}')
        div.fecha {{item.fecha |  date : 'dd-MM-yy'}}
      td(rowspan='{{item.insumos.length}}') {{item.comprobante}}
      td(rowspan='{{item.insumos.length}}') {{item.proveedor}}
      
      td {{item.insumos[0].nombre}}
      td {{item.insumos[0].valor}}
      td(rowspan='{{item.insumos.length}}') {{item.obs}}
    tr(ng-repeat='insumo in item.insumos' ng-if="$index >= 1")
      td {{inusmo.nombre}}
      td {{inusmo.valor}}
