table(class='detalle table-striped table-hover table-bordered' ng-repeat='maquina in labores' style="width:100%")
  tr
    th(colspan=2 class='text-center')
      h4 {{maquina.maquina}}
  tr
    th(style="width:10%")  Actividad
    th(style="width:5%")   Superficie
  tr(ng-repeat='item in maquina.actividades')
    td(ng-if='item.nombre != 0') {{item.nombre}} 
    td(ng-if='item.nombre == 0' style='font-weight:600') TERCEROS 
    td {{item.superficie}}
  tr(style='font-weight:600')
    td Total
    td {{getTotal(maquina.maquina) | number:2}}
    
