table(class='detalle table-striped table-hover table-bordered' ng-repeat='maquina in labores' style="width:100%")
  tr
    th(colspan=5 class='text-center')
      h4 {{maquina.maquina}}
  tr
    th(style="width:10%")  Fecha
    th(style="width:5%")  Lab
    th(style="width:30%") Est - Lote
    th(style="width:5%")  Sup
    th(style="width:50%") Desc    
  tr(ng-repeat='item in maquina.detalle')
    td {{item.fecha |  date : 'dd-M-yy'}}
    td(title='{{item.doc}}' data-container='body') {{item.doc.split(" - ")[1] }}
    td {{item.establecimiento}} - {{item.lote}}
    td {{item.superficie}}
    td {{item.obs}}
  tr
    th(colspan=5 style="background-color:#337AB7; height:10px")
    
