table(class='detalle table-bordered' ng-repeat='maquina in mantenimientos' style="width:100%")
  tr
    th(colspan=8 class='text-center')
      h4 {{maquina.maquina}}
  tr
    th(style="width:7%") Fecha
    th(style="width:5%")  Parte
    th(style="width:5%")  Hor.
    th(style="width:35%") Insumo
    th(style="width:2%")  Cant.
    th(style="width:3%")  Costo 
    th(style="width:3%")  Imp. 
    th(style="width:40%") Desc.
  tbody(ng-class-odd="'tr_odd'" ng-repeat='item in maquina.detalle')
    tr
      td(rowspan='{{item.insumos.length}}') 
        div.fecha {{item.fecha |  date : 'dd-MM-yy'}}
      td(class='text-center' rowspan='{{item.insumos.length}}') {{item.doc.replace('PARMAN -','')}}
      td(rowspan='{{item.insumos.length}}') {{ item.horometro | number:0 }}
      td {{ item.insumos[0].nombre }}
      td.text-center {{ item.insumos[0].cantidad | number:0 }}
      td.text-center {{ item.insumos[0].costoestandar | number:2 }}
      td.text-center {{ item.insumos[0].costoestandar * item.insumos[0].cantidad | number:2 }}
      td(class='observaciones' rowspan='{{item.insumos.length}}') {{ item.obs }}
    tr(ng-repeat='insumo in item.insumos' ng-if="$index >= 1" )  
      td {{insumo.nombre}}
      td.text-center {{ insumo.cantidad | number:0 }}
      td.text-center {{insumo.costoestandar | number:2 }}
      td.text-center {{insumo.costoestandar * insumo.cantidad | number:2 }}
