div.col-xs-10.col-xs-offset-1
  a(href='#/')
    img(class="menu_logo" src="/images/logo.png")
  center
    hr.linea
    div.upload
      div.odd
        img(src='images/iconos/upload/depreciaciones.png')
        p DEPRECIACIONES
        img(class='barra' src='images/iconos/upload/barra_blanca.png')
        div(class='divFileUpload btn')
          span Seleccione el archivo
          input(class='inputUpload' type='file' file-upload='depreciaciones')
        img(class='loading' src='images/iconos/upload/loading.gif' ng-hide='estado_upload.depreciaciones != "loading"')
        span(class='glyphicon glyphicon-remove upload_error text-warning' ng-hide='estado_upload.depreciaciones != "error"')
        span(class='glyphicon glyphicon-ok upload_ok' ng-hide='estado_upload.depreciaciones != "terminado"')
    hr.linea
    span.leyenda COMPROMETIDOS AL CRECIMIENTO JUNTOS.
