div.col-xs-10.col-xs-offset-1
  h2.text-center FERTILIZADORAS
  h4.text-center (01/07/2014 al 30/06/2015)
  br
  img(class='tapas' src='/images/fert_tapa.png')
  div.separador
  img(class='tapas' src='/images/fert_tapa2.png')
  div.footer
  div(class='table-div panel panel-default' ng-repeat='i in obj')
    div(class='panel-heading text-center')  {{i.nombre}}
    table.table
      tr.headers
        td(colspan=9) 
          h4.text-center {{i.nombre}}
      tr
        td(rowspan=2)
        td(class='fisicos left right' colspan=3)
          h5 Fisicos
        td(colspan=5) 
          h5 Economicos U$S
      tr
        th.fisicos.left Gasoil
        th.fisicos Has.
        th.fisicos.right Hs.
        th Gasoil
        th Pers.
        th Mant.
        th Depr.
        th Total
      tr
        th Abs.
        td.fisicos.left {{i.gasoil_cantidad | number:0 }} 
        td.fisicos {{i.superficie | number:0 }}
        td.fisicos.right {{i.horas | number:0 }}
        td {{i.gasoil_costo | number:0 }}
        td {{i.costo_operarios | number:0 }}
        td {{i.gastos_varios | number:0 }}
        td {{i.depreciacion | number:0 }}
        td {{i.total | number:0 }}
      tr.impar
        th Hs.
        td.fisicos.left {{ (i.gasoil_cantidad)/i.horas | number }} 
        td.fisicos {{ (i.superficie)/i.horas | number }}
        td.fisicos.right -- -- 
        td {{ (i.gasoil_costo)/i.horas | number:2 }}
        td {{ (i.costo_operarios)/i.horas | number:2 }}
        td {{ (i.gastos_varios)/i.horas | number:2 }}
        td {{ (i.depreciacion)/i.horas | number:2 }}
        td {{ (i.total)/i.horas | number:2 }}
      tr
        th Ha.
        td.fisicos.left {{ (i.gasoil_cantidad)/i.superficie | number }} 
        td.fisicos -- --
        td.fisicos.right {{ (i.horas)/i.superficie | number }}
        td {{ (i.gastos_varios)/i.superficie | number:2 }}
        td {{ (i.gasoil_costo)/i.superficie | number:2 }}
        td {{ (i.costo_operarios)/i.superficie | number:2 }}
        td {{ (i.depreciacion)/i.superficie | number:2 }}
        td {{ (i.total)/i.superficie | number:2 }}

      tr
        td(colspan=9) 
          h5 Operador/es: {{i.nombre_operarios}}
