hr.frame
div.col-xs-10.col-xs-offset-1
  center.tapa
    img(class='logo' src='/images/logo.png')
    hr.linea
    h1.titulo FERTILIZADORAS
    h2 (01/07/2014 al 30/06/2015)
    hr.linea
    img(class='cinta' src='/images/tapas/cinta.png')
  div.footer
hr.frame
div.col-xs-10.col-xs-offset-1
  h2 Resumen
  hr.linea_subtitulos
  resumen-fertilizadoras
  div.footer

hr.frame
div.col-xs-10.col-xs-offset-1  
  h2 Mantenimientos realizados
  hr.linea_subtitulos
  detalle(tipo="mantenimientos" reporte="fertilizadoras")
  div.footer

hr.frame
div.col-xs-10.col-xs-offset-1  
  h2 Labores realizados
  hr.linea_subtitulos
  detalle(tipo="labores" reporte="fertilizadoras")
