hr.frame
div.col-xs-10.col-xs-offset-1
  center.tapa
    img(class='logo' src='/images/logo.png')
    hr.linea
    h1.titulo FUMIGADORAS
    h2 Cultivos Invierno 15/16
    hr.linea
    img(class='cinta' src='/images/tapas/fumigadoras.png')
  div.footer
hr.frame
div.col-xs-10.col-xs-offset-1
  h2 Resumen
  hr.linea_subtitulos
  resumen-fertilizadoras
  div.footer

hr.frame
div.col-xs-10.col-xs-offset-1  
  h2 Labores realizados
  hr.linea_subtitulos
  labores(reporte="fumigadoras")
  div.footer

hr.frame
div.col-xs-10.col-xs-offset-1  
  h2 Mantenimientos realizados
  hr.linea_subtitulos
  detalle(tipo="mantenimientos" reporte="fumigadoras")
  div.footer

hr.frame
div.col-xs-10.col-xs-offset-1  
  h2 Servicios y gastos directos
  hr.linea_subtitulos
  detalle(tipo="compras" reporte="fumigadoras")
  div.footer

div.col-xs-10.col-xs-offset-1.no_imprimir  
  h2 Gasoil
  hr.linea_subtitulos
  detalle(tipo="gasoil" reporte="fumigadoras")
  div.footer
