div.col-xs-10.col-xs-offset-1
  img(class="logo_menu" src="/images/logo.png")
  center
    hr.linea
    a(href='#/fertilizadoras')
      img(class="btn_principal",  src="/images/iconos/fertilizadoras.png")
    img(class="btn_principal",  src="/images/iconos/cosechadoras.png") 
    img(class="btn_principal",  src="/images/iconos/fumigadoras.png") 
    img(class="btn_principal",  src="/images/iconos/depreciaciones.png") 
    img(class="btn_principal",  src="/images/iconos/sueldos.png") 
    hr.linea
    span.leyenda COMPROMETIDOS AL CRECIMIENTO JUNTOS.
