div.col-xs-10.col-xs-offset-1
  img(class="menu_logo" src="/images/logo.png")
  center
    hr.linea
    a(href='#/fertilizadoras')
      img(class="menu_btns" src="/images/iconos/fertilizadoras.png")
    img(class="menu_btns" src="/images/iconos/cosechadoras.png") 
    img(class="menu_btns" src="/images/iconos/fumigadoras.png") 
    a(href='#/depreciaciones')
      img(class="menu_btns" src="/images/iconos/depreciaciones.png") 
    a(href='#/sueldos')
      img(class="menu_btns" src="/images/iconos/sueldos.png") 
    hr.linea
    span.leyenda COMPROMETIDOS AL CRECIMIENTO JUNTOS.
