div.col-xs-6.col-xs-offset-3.central
  a(type='button' class='btn btn-primary btn-reports' href='#/fertilizadoras') 
    img(class="iconos",  src="/images/iconos/fertilizadora.png")
    p Fertilizadoras
  a(class='btn btn-warning btn-reports')
    img(class="iconos",  src="/images/iconos/cosechadora.png") 
    p Cosechadoras
  a(class='btn btn-danger btn-reports') 
    img(class="iconos",  src="/images/iconos/fumigadora.png") 
    p Fumigadoras
  a(class='btn btn-primary btn-reports' href='#/depreciaciones') 
    img(class="iconos",  src="/images/iconos/depreciacion.png") 
    p Depreciaciones
  a(class='btn btn-warning btn-reports' href='#/sueldos') 
    img(class="iconos",  src="/images/iconos/sueldo.png") 
    p Sueldos
