div
  div.row
    form.col-xs-6.col-xs-offset-3.central
      div(class='alert alert-info col-xs-8')
          h4.text-center SUELDOS
          input(type='file' file-upload='personas' reporte='todos')
        div(ng-class='div_base + div.personas')
          span(ng-class='css_base + css.personas')
